@font-face {
	font-family: 'GlacialIndifference-Regular';
	src: url('../Fonts/GlacialIndifference-Regular.woff2') format('woff2'),
		url('../Fonts/GlacialIndifference-Regular.woff')format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GlacialIndifference-Bold';
	src: url('../Fonts/GlacialIndifference-Bold.woff2') format('woff2'),
		url('../Fonts/GlacialIndifference-Bold.woff')format('woff');
	font-weight: bold;
	font-style: normal;
}