@font-face {
	font-family: 'GlacialIndifference-Regular';
	src: url('../Fonts/GlacialIndifference-Regular.woff2') format('woff2'),
		url('../Fonts/GlacialIndifference-Regular.woff')format('woff');
	font-weight: normal;
	font-style: normal;
}
main {
	line-height: 1.9rem;
}

h3 {
	color: rgb(255, 255, 255);
	background-color: #886FB1;	
	display:inline-flex;
	margin: 0 0 0 0 ;
	padding: .5rem 2rem;
}