@font-face {
	font-family: 'GlacialIndifference-Regular';
	src: url('../Fonts/GlacialIndifference-Regular.woff2') format('woff2'),
		url('../Fonts/GlacialIndifference-Regular.woff')format('woff');
	font-weight: normal;
	font-style: normal;
}

main {
	line-height: 1.9rem;
	margin: auto 1rem;
}

h2 {
	color: rgb(255, 255, 255);
	background-color: #886FB1;	
	display:inline-flex;
	margin: .5rem 0 ;
	padding: .5rem 2rem;

}

p{
	font-size: 1rem;
}

.education img {
	width: 50%;
	float: left;
	margin-right: 1rem;
}

/* reference for grid setup: https://css-tricks.com/a-grid-of-logos-in-squares/ */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(5rem, auto));
	grid-gap: 1remrem;
  }
div.grid {
	padding: 1rem;
  }
  
  div.grid div::before {
	padding-bottom: 100%;
	display: block;
  }
  div.grid {
	display: grid;
  }
  .grid  div  img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
