@font-face {
  font-family: 'glacialindifferenceregular';
  src: url('../Fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
       url('../Fonts/glacialindifference-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: url('../Fonts/GlacialIndifference-Bold.woff2') format('woff2'),
       url('../Fonts/GlacialIndifference-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  box-sizing: border-box;
  margin: 0rem;
  margin-top: 7rem;
  background-color: #fff;
  font-family: 'glacialindifferenceregular';
}

p {
  font-size: 1.2rem;
  margin-left: .8rem ;
  line-height: 1.5rem;
}

h2 {
  margin-left: .8rem ;
  font-family: 'GlacialIndifference-Bold';
}
h3 {
  text-align: center;
}
h4 {
  font-family: 'GlacialIndifference-Bold';
  margin-right: 13rem;
  display: block;
  padding: .3rem 4rem;
  background-color: rgb(68, 66, 107);
  color: rgba(255, 255, 255, 0.986);
  text-align: right;
  font-size: 1.285rem;
}
li {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}


/* navigation */

.h1mimic{
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}
.nav_header {
  position: fixed; 
  top: 0; 
  width: 100%;
  background-color: #dbac91;
  padding: 0 0 0 1rem ;
  height: 6rem;

}
.nav_header img {
  width: 20%;
  position: fixed;
  top: .7rem;
  left: .8rem;
}

.nav_header ul {
  display: block;
  position: relative;
  left: 2.8rem ;
  list-style: none;
  margin: 0;
}

.nav_header li {
  display: inline;
  text-align: center;
  padding: 2.3rem 0;
}

.nav_header li a { 
  color: rgb(243, 243, 243);
	font-size: 1rem;
  padding: 2.3rem .75rem;
	text-decoration: none;
}
.nav1{
  background-color: #219393 ;
}
.nav2{
  background-color: #886FB1 ; 
}
.nav3{
  background-color: #382193; 
}



/* About Specific Stylings */
.AboutMeImage {
  width: 30%;
  margin: .5rem .5rem;
  float: right;
}

.hobbies div {
  display: inline-block;
  vertical-align: middle;
  margin: 1rem;
}
.hobbies p {
  margin: auto .5rem;
  font-size: 1rem;
}
.hobbies h3 {
  color: rgb(255, 255, 255);
	background-color: #886FB1;	
	display:inline-block;
	padding: .5rem 2rem;
  text-align: right;
  margin: 1rem auto;
}
.hobbies img {
  float: left; 
  width: 40%;
}
.contact {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6rem, auto));
  padding: .5rem;
  }
.contact img {
  width: 40%;
  object-fit: cover;
  padding: .5rem;
}
.contact p {
  margin: auto 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: #001136;
}
.contactdiv{
  border:0;
  height: 2px;
  background: rgb(190, 190, 190);
}

/* My Work Images */
.workbox_wrapper {
background-color: #219393;
display: flex;
margin: 1rem auto 1rem .5rem;
padding: 0 0 0 .5rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px;
border-radius: 1rem 0 0 1rem ;
}
.workbox_wrapper p {
  text-align: left;
  font-size: 1rem;
  margin: 0 0 0 2rem; 
  color: rgb(0, 0, 0);
  background-color: #cfe8e9;
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 5rem;
  min-width: 2rem;
}
.workicon {
  margin: auto ;
  display: inline-block;
  
}
.workbox_wrapper h2{
  color: #ffffff;
  text-align: right;
  text-shadow: -.5px 2px 3px rgb(37, 37, 37);
  padding-left: 1rem;
  margin: auto -1.3rem auto 0;
  font-size: 1.2rem;
}
 .workbox_wrapper1 {
  background-color: rgb(233, 75, 75);
 }
.workbox_wrapper2 {
  background-color: rgb(109, 22, 102);
  }
.workbox_wrapper3 {
  background-color: rgb(78, 169, 255);
  }
  .workbox_wrapper4 {
    background-color: rgb(219, 121, 30);
    }
  
/* Home Page Elements */
.card_wrapper {
  box-shadow: -5px 5px 10px rgba(50, 50, 50, 1);
  margin-bottom: 2rem;
}

.card {
	width: 100%;
	max-height: 15rem;
	background-color:rgb(128, 185, 199);
  display: inline-block;
}
.card__img {
  padding: 1rem;
}
.card__img img {
	width: 60%;
  margin-top: -1rem;
  margin-left: -1.75rem;
  margin-bottom: 1rem;
  float: left;
}

.card__content {
	padding: 1rem;
} 

.card__content p {
	color: rgb(19, 18, 18);
	font-size: 0.875rem;
  margin: 1rem;
}
.card__content h2 {
  margin: 1rem;
  font-weight: bold;
  color: #ffffff;
}

/* Photo Gallery Styles 
Masonry inspiration: https://codepen.io/iamsaief/pen/jObaoKo
*/
.photo {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.gallery div {
	align-items: center;
}
.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
	grid-auto-rows: 4;
	grid-auto-flow:dense;
}

.wide {
	grid-column: span 2;
}
.tall {
	grid-row: span 2;
  width: 100%;
}
.big {
	grid-column: span 2;
	grid-row: span 2;
}


.hero {
  background-color: rgb(50, 99, 114);
  padding: 1.5rem;
  margin: -2.8rem auto 1rem;
}
.hero h1 {
  color: #e8f6ff;
 text-align: center; 
 font-family: 'GlacialIndifference-Bold'
}
.hero h2 {
 margin: 2.8rem auto 1rem;
 color: rgb(226, 226, 226);
 }
 .hero p {
   color: #e8f6ff;
   text-align: center; 
 }

 .backbutton a {
   display: inline-block;
   text-decoration: none;
   text-align: right;
   color: #fff;
   background-color: #219393;
   padding: 1rem 2rem;
 }

footer {
  background-color: #001136;
  color: #e8f6ff;
  margin: auto;
  padding: .5rem;
}