@font-face {
	font-family: 'GlacialIndifference-Regular';
	src: url('../Fonts/GlacialIndifference-Regular.woff2') format('woff2'),
		url('../Fonts/GlacialIndifference-Regular.woff')format('woff');
}

body {
  margin: 0rem;
  background-color: rgb(207, 206, 248);
}

h2, h3 {
  margin-left: .8rem ;
}
p {
  font-size: 1rem;
  margin-left: .8rem ;
}
h4 {
  margin-right: 13rem;
  display: block;
  padding: .3rem 4rem;
  background-color: rgb(119, 236, 240);
  color: rgba(0, 1, 12, 0.986);
  text-align: right;
}

.nav_header {
  font-size: 1rem;
  background-color: #4A52E0;
  line-height: 2rem;
  display: flex;
  width: auto ;
  padding: 0 0 0 1rem ;
  margin: 0;
}
.nav_header a {
text-decoration: none;
color: #f1f4ff;
}

/* navigation */

div.navigation {
    position: sticky;
    top: 0 ;
    margin: .5rem .2rem .3rem .4rem;
  
  /*
  padding: .5rem .2rem .3rem 1rem ;
  display: flex;
  background-color: beige;*/
}

.navigation ul {
	list-style: none;
	padding: 0;
	margin: 0 0 b 1.5rem;
}

.navigation li {
	display: inline-block;
}

.navigation li a {
  background-color: #7a71fc;
  	border-radius: 1rem;
  color: rgb(238, 238, 238);
	font-size: .9rem;
  display: block;
  padding: .5rem .75rem;
  text-align: center;
	text-decoration: none;	
}

.navigation li a:hover {
	background-color:  #3062be;
	color: #e5e5e5;
  box-shadow: rgb(43, 2, 82) 0px 2px 3px;
}

/* About Specific Stylings */
.AboutMePhoto
{
  width: 150px; /* width of container */
  height: 170px; /* height of container */
  object-fit: cover;
  border-radius: 40%;
  float:right;
  margin: auto .5rem ;
  border-style: 3px solid #a200ff;
}
/* My Work Images */
.workbox_wrapper {
background-color: rgb(17, 74, 180);
border-radius: 40% 0 0 40%;
display: flex;
margin: 1rem auto 1rem .5rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px;
}
.workbox_wrapper p {
  text-align: left;
  font-size: 1rem;
  margin: 0 0 0 2rem; 
  color: rgb(252, 252, 252);
  background-color: rgb(91, 126, 201);
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 5rem;
  min-width: 2rem;
}
.workicon {
  margin: 1rem auto ;
  display: inline-block;
}
.workbox_wrapper h2{
  color: #e5e5e5;
  text-align: right;
  padding-left: .2rem;
  margin: auto -1.3rem auto 0;
  font-size: 1.2rem;
}

footer {
  background-color: #001136;
  display: flex ;
  color: #e8f6ff;
}