@font-face {
  font-family: 'glacialindifferenceregular';
  src: url('../Fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
       url('../Fonts/glacialindifference-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: url('../Fonts/GlacialIndifference-Bold.woff2') format('woff2'),
       url('../Fonts/GlacialIndifference-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




body {
  margin: 0rem;
  background-color: #fff;
  font-family: 'glacialindifferenceregular';
}

h2, h3 {
  margin-left: .8rem ;
  font-family: 'GlacialIndifference-Bold';

}
p {
  font-size: 1rem;
  margin-left: .8rem ;
}
h4 {
  margin-right: 13rem;
  display: block;
  padding: .3rem 4rem;
  background-color: rgb(119, 236, 240);
  color: rgba(0, 1, 12, 0.986);
  text-align: right;
}
/* navigation */
.nav_header {
  font-size: 1rem;
  background-color: #dbac91;
  display: flex;
  padding: 0 0 0 1rem ;
  max-height: 7.5rem;
}

.nav_header img {
  width: 30%;
  margin: auto;
}
.col {
background-color: rgb(135, 135, 194);
display: inline;
overflow: auto;
}

.nav_header ul {
	list-style: none ;
	padding: 0;
	margin: 0 0 1.5rem;
}

.nav_header li a { 
  color: rgb(0, 0, 0);
	font-size: .9rem;
  display: block;
  padding: .5rem .75rem;
  text-align: center;
	text-decoration: none;
}

.nav_header li a:hover {
	background-color:  #3062be;
	color: #e5e5e5;
  box-shadow: rgb(43, 2, 82) 0px 2px 3px;
}

/* About Specific Stylings */
.AboutMeBanner
{
  width: 100%; 
  display: flex;
}

.hero h2 {
 position: absolute; 
margin: 20% 10% Auto ;
color: rgb(0, 0, 0);
}


/* My Work Images */
.workbox_wrapper {
background-color: #a395b9;
display: flex;
margin: 1rem auto 1rem .5rem;
padding: 0 0 0 .5rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px;
}
.workbox_wrapper p {
  text-align: left;
  font-size: 1rem;
  margin: 0 0 0 2rem; 
  color: rgb(252, 252, 252);
  background-color: #219393;
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 5rem;
  min-width: 2rem;
}
.workicon {
  margin: 1rem auto ;
  display: inline-block;
}
.workbox_wrapper h2{
  color: #000000;
  text-align: right;
  padding-left: .2rem;
  margin: auto -1.3rem auto 0;
  font-size: 1.2rem;
  font-weight: bold;
}

/* ------- */
.card_wrapper {
  box-shadow: -5px 5px 10px rgba(50, 50, 50, 1);
  margin-bottom: 2rem;
}

.card {
	width: 100%;
	max-height: 15rem;
	background-color:rgb(128, 185, 199);
  display: inline-block;
}
.card__img {
  padding: 1rem;
}
.card__img img {
	width: 60%;
  margin-top: -1rem;
  margin-left: -1.75rem;
  margin-bottom: 1rem;
  float: left;
}

.card__content {
	padding: 1rem;
} 

.card__content p {
	color: rgb(19, 18, 18);
	font-size: 0.875rem;
  margin: 1rem;
}
.card__content h2 {
  margin: 1rem;
  font-weight: bold;
  color: #ffffff;
}
footer {
  background-color: #001136;
  color: #e8f6ff;
  margin: auto;
  padding: .5rem;
}